.venv
node_modules
*.env
venv/
.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
.history
site_build
venv
docs.zip
archive.zip
# alembic
alembic/versions/
.env
.env_old
.env.dev
test.py
# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store